/*  Apps
    Tara McNeil
    TLM-Portfolio
    CSS
 */

.logo {
    width: 50%;
}

.jumbotron {
    background-color: #111;
    margin-bottom: 0;
    height: 100vh;
}

.jumbotron-images {
    width: 100%;
    box-shadow: 0 3px 10px black;
}

.img-responsive {
    margin-top: 10px;
    
}
